<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/producto"></ion-back-button>
  </ion-button>
    <ion-title>{{producto.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input [(ngModel)] = "producto.descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SKU</ion-label>
      <ion-input [(ngModel)] = "producto.sku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input [(ngModel)] = "producto.categoria"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="Modificar()">Modificar</ion-button>
  <ion-button (click)="Eliminar()">Eliminar</ion-button>
</ion-content>
